<input class="{{styles.input-field}}" placeholder="{{ placeholder }}" type="{{ type }}" name="{{ name }}"
       id="{{ id }}"/>
<span  class="{{styles.input-error}}">{{ error }}</span>
<label class="{{styles.input-label}}" for="{{ name }}">{{ placeholder }}</label>

