<div class="{{styles.profile}}">
    <a href="/profile" class="{{styles.back}}">Назад</a>
    {{{ avatar }}}
    <div class="{{styles.profile-info}}">
        {{{ rowChangeEmail }}}
        {{{ rowChangeLogin }}}
        {{{ rowChangeName }}}
        {{{ rowChangeSuranme }}}
        {{{ rowChangeNameChat }}}
        {{{ rowChangeTel }}}
    </div>
    <div class="{{styles.profile-menu}}">
        <a href="/profile">{{{ button }}}</a>
    </div>
</div>

