<div class="{{styles.profile}}">
    <a href="/chats" class="{{styles.back}}">Назад</a>
    {{{ avatar }}}
    <div class="{{styles.profile__info}}">
        {{{ rowEmail }}}
        {{{ rowLogin }}}
        {{{ rowName }}}
        {{{ rowSurname }}}
        {{{ rowNameChat }}}
        {{{ rowTel}}}
    </div>
    <div class="{{styles.profile-menu}}">
        {{{ rowMenuInfo }}}
        {{{ rowMenuPassword }}}
        {{{ rowMenuExit }}}
    </div>
</div>

