<div class="{{styles.profile}}">
    {{{ link }}}
    {{{ avatar }}}
    <div class="{{styles.profile-info}}">
        {{{ rowEmail }}}
        {{{ rowLogin }}}
        {{{ rowName }}}
        {{{ rowSurname }}}
        {{{ rowNameChat }}}
        {{{ rowTel}}}
    </div>
    <div class="{{styles.profile-menu}}">
        {{{ rowMenuInfo }}}
        {{{ rowMenuPassword }}}
        {{{ rowMenuExit }}}
    </div>
</div>

