<div class="{{styles.profile}}">
    <a href="/profile" class="{{styles.back}}">Назад</a>
    {{{ avatar }}}
    <div class="{{styles.profile__info}}">
        {{{ rowChangePrev }}}
        {{{ rowChangeNew }}}
        {{{ rowChangeNewSecond }}}
    </div>
    <div class="{{styles.profile-menu}}">
        <a href="/profile">{{{ button }}}</a>
    </div>
</div>

