<form class="{{stylesGlobal.form}}">
    <h1 class="{{stylesGlobal.form__title}}">Вход</h1>
    <div class="{{styles.container-input}}">
        {{{ inputLogin }}}
    </div>
    <div class="{{styles.container-input}}">
        {{{ inputPassword }}}
    </div>
    <div class="{{styles.container-button}}">
        {{{ button }}}
    </div>
    <a href="/signUp" class="{{stylesGlobal.link}}">Создать аккаунт</a>
</form>


