<div class="{{stylesGlobal.form}}">
    <h1 class="{{stylesGlobal.form-title}}">Создание аккаунта</h1>
    <div class="{{styles.container-input}}">
        {{{ inputEmail }}}
    </div>
    <div class="{{styles.container-input}}">
        {{{ inputLogin }}}
    </div>
    <div class="{{styles.container-input}}">
        {{{ inputName }}}
    </div>
    <div class="{{styles.container-input}}">
        {{{ inputSurname }}}
    </div>
    <div class="{{styles.container-input}}">
        {{{ inputTel }}}
    </div>
    <div class="{{styles.container-input}}">
        {{{ inputPassword }}}
    </div>
    <div class="{{styles.container-input}}">
        {{{ inputPassword2 }}}
    </div>
    <div class="{{styles.container-button}}">
        {{{ button }}}
    </div>
    {{{ link }}}
</div>
