{{#if selectedChat}}
    {{{chatHeader}}}
    {{{messages}}}
    {{{chatInput}}}
{{else}}
    <div class="{{styles.choose-chat}}">
        <div class="{{styles.choose-chat-message}}">Выберите чат</div>
    </div>
{{/if}}
