{{#if avatar}}
    <div class="{{ styles.avatar }}">
        <img class="{{ styles.avatar-img }}" src="{{avatar}}" alt="{{name}}">
    </div>
{{else}}
    <div class="{{ styles.avatar }}">
        <div class="{{ styles.avatar-img-none }}"></div>
    </div>
{{/if}}

<div class="{{ styles.caption }}" >
    <div class="{{ styles.title }}">
        <span class="{{ styles.name }}">{{name}}</span>
        <span class="{{ styles.date }}">{{date}}</span>
    </div>
    <div class="{{ styles.subtitle }}">
        <div class="{{ styles.subtitle-text }}">{{text}}</div>
        {{#if unreadCount}}
            <div class="{{styles.count}}">{{unreadCount}}</div>
        {{/if}}
    </div>
</div>
