<div class="{{styles.chat-info}}">
    {{#if avatar}}
        <div class="{{ styles.avatar }}">
            <img class="{{ styles.avatar-img }}" src="{{avatar}}">
        </div>
    {{else}}
        <div class="{{ styles.avatar }}">
            <div class="{{ styles.avatar-img-none }}"></div>
        </div>
    {{/if}}
    <div class="{{ styles.caption }}">
        <div class="{{ styles.title }}">
            {{name}}
        </div>
        <div class="{{ styles.subtitle }}">
            <div class="{{ styles.subtitle-text }}">{{text}}</div>
        </div>
    </div>
</div>
<div class="{{styles.chat-utils}}">
    {{{ input }}}
    {{{ buttonAdd }}}
    {{{ buttonDelete }}}
</div>
