<div class="{{styles.error}}">
    <h1 class="{{styles.error-code}}">{{ errorCode }}</h1>
    <h2 class="{{styles.error-text}}">{{ errorText }}</h2>
    <a href="/chats" class="{{styles.error-link}}">Назад к чатам</a>
</div>

